
html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow: hidden; 
  width: 100%;
  background-image: url('../images/car-with-bg.png');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: contain;
  background-position: center;
  background-color: #000;
}

  .main-div {
    margin-top:53px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100vw; 
    height: 100vh; 
    text-align: center; 
  }
  .main-div > p:first-of-type {
    margin-top: 12px;
    color:white;
    text-transform: uppercase;
    font-size: 27px;
    font-weight: bold;
    margin-bottom: 6px;
  }
  .caption{
    margin-top:6px;
    color:white;
    font-size: 20px;
  }
  
  
  .main-div img {
    max-width: 100px; 
    height: auto;
  }
  
